$background-color: linear-gradient(
    0deg,
    rgba(30, 62, 60, 1) 3%,
    rgb(42, 118, 58) 96%
);
$toolbar-border-color: rgb(76, 255, 139);
$toolbar-shadow-color: rgb(37, 185, 89);
$toolbar-height: 40px;

$canvas-border-color: rgb(76, 255, 139);
$canvas-shadow-color: rgb(37, 185, 89);
